

body, html{
  height: 100%;
  padding: 10px 10px 10px 10px;
  background: #bebebe;
	font-family: 'Lato', sans-serif;
}

.container{
  display: block;
  position: relative;
  margin: auto;
  height: auto;
  width: auto;
  padding: auto;
}
pre {
  font-size: 1.0em;
	color: #000000;
  line-height:1.9em; 
	font-family: 'Lato', sans-serif;
  font-weight: 10;    white-space: pre-wrap;       /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

h1 {
  font-size: 2.5em;
	color: #000000;
	font-family: 'Lato', sans-serif;
}

.valid {
	text-align: center;
  	padding: 25px 25px 25px 25px;
	color: #00580f;
}

.link {
	text-align: center;
  	padding: 25px 25px 0px 25px;
	color: #2f00ff;
}

.valid h1:hover{
	color: #ffffff;
}


.container ul{
  list-style: none;
  margin: 0;
  padding: 0;
	overflow: auto;
}

ul li{
  color: #000000;
  display: block;
  position: relative;
  float: left;
  width: 100%;
  height: 20%;
	border-bottom: 1px solid #333;
}

ul li input[type=radio]{
  position: absolute;
  visibility: hidden;
}

ul li label{
  display: block;
  position: relative;
  font-size: 3.0em;
  padding: 25px 25px 25px 80px;
  margin:  auto;
  height:  auto;
  z-index: 9;
  cursor: pointer;
  -webkit-transition: all 0.25s linear;
}

ul li:hover label{
	color: #FFFFFF;
}

ul li .check{
  display: block;
  position: absolute;
  border: 5px solid #AAAAAA;
  border-radius: 100%;
  height: 25px;
  width: 25px;
  top: 30px;
  left: 20px;
	z-index: 5;
	transition: border .25s linear;
	-webkit-transition: border .25s linear;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

ul li:hover .check {
  border: 5px solid #FFFFFF;
}

ul li .check::before {
  display: block;
  position: absolute;
	content: '';
  border-radius: 100%;
  height: 15px;
  width: 15px;
  top: 5px;
	left: 5px;
  margin: auto;
	transition: background 0.25s linear;
	-webkit-transition: background 0.25s linear;
}

input[type=radio]:checked ~ .check {
  border: 5px solid #1f1f1f;
}

input[type=radio]:checked ~ .check::before{
  background: #1f1f1f;
}

input[type=radio]:checked ~ label{
  color: #1f1f1f;
}
